
body {
  font-family: 'Poppins', sans-serif;
  background-color: #cbd5c0;
  /* display: flex;
  flex-direction: column; */
}
.Consumption {
  height: 50%;
}

.summary-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.consumption-title {
  border: 1px solid rgba(255, 230, 80, 0.63);
  display: inline;
  padding: 3px;
  background-color: rgb(229, 246, 150);
}

.weekly-period {
  font-weight: bold;
  font-size: 1.5rem;
}

.daily-date {
  font-weight: bold;
  font-size: 1.5rem;
}
