images
node_modules
.package-lock.json
yarn.lock

.DS_Store
dist
training-img-dataset
testing-img-dataset
small-training-img-dataset
samll-testing-img-dataset
.env
finailed-test-data
finalize-training-dataset
mealphotos

.pyenv
models
foodRecognizeModel
dataset
